*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-131921: #131921;
  --color-3b4149:#3b4149;
  --color-febd69:#febd69;
  --color-22f3e: #232f3e;
  --color-bf4800:#bf4800;
  --color-f5f5f7:#f5f5f7;
  --color-ededed: #ededed;
  --color-777777:#777777;
  --color-1c1c1b: #1c1c1b;
}
body{
  font-family: 'Rubik',sans-serif;
}
a{
  text-decoration: none;
  display: inline-block;
}
.section-heading
{
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}
.card-wrapper{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}
.gap-5 {
  gap: 5px;
}
.gap-10{
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.button{
  background-color: var(--color-22f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}
.button:hover{
  background-color: var(--color-febd69);
  color: #131921;
}
/* header */
.header-top-strip{
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}
.header-upper
{
  background-color: var(--color-131921);
}
.header-bottom{
  background-color: var(--color-3b4149);
}
.header-upper .input-group-text
{
  background-color: #febd69;
}
.header-upper .header-upper-links img{
  width: 30px;
  height: 30px;
}
.header-bottom .menu-links a,
.header-bottom .dropdown button{
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: .3;
  text-transform: uppercase;
}
.header-bottom .dropdown button::before{
  contain: url('../public/images/menu.svg');
}
.header-bottom .dropdown button:focus{
  box-shadow: none;
}
.header-bottom .dropdown-menu{
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px,57px,0px) !important;
}
.header-bottom .dropdown-item{
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-febd69) !important;
}
/* Header end here */



/* Footer */
footer{
  background-color: var(--color-3b4149);
}
footer:not(:first-child){
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .input-group-text{
  background-color: var(--color-3b4149);
  padding: 8px 17px;
  color:white;
}
/* Footer end here */



/* Home Page 1 */

.main-banner-content{
  top:10%;
  left: 5%;
}

.main-banner-content h4{
  font-size: 16px;
  font-weight: 400;
  color: var(--color-bf4800);
  line-height: 24px;
  margin: 0 0 12px;
  letter-spacing: .3px;
  text-transform: uppercase;
}
.main-banner-content h5 {
  font-size: 42px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -2px;
  text-transform: none;
}
.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: .4px;
  color: var(--color-131921);
}

.small-banner-content {
  top: 25%;
  left: 5%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-bf4800);
  line-height: 24px;
  margin: 0 0 12px;
  letter-spacing: .3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -2px;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .4px;
  color: var(--color-131921);
}
.small-banner
{
  width: 49%;
}
/* Home Page end here */

/* Home Page 2 */
.home-wrapper-2{
  background-color: var(--color-f5f5f7);

}
/* Home Page 2 end*/

/* categories section */
.categories{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.categories>div>div{
  width: 60%;
}
.categories>div{
  width: 25%;
  padding: 10px 10px 10px 20px;
}
.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4){
  border-bottom: 1px solid var(--color-ededed);
}
.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3) {
  border-right: 1px solid var(--color-ededed);
}
.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}
 /* categories section end */


/* blog part */


.blog-card{
  background-color: white;
  border-radius: 10px;
}
.blog-card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content
{
  padding: 15px;
}
.blog-content .date{
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-777777);
  padding: 0;
}
.blog-content .title{
  font-size: 18px;
  color: var(--color-131921);
}
.blog-content .desc {
  font-size: 13px;
  line-height: 22px;
  color: var(--color-777777);
}
.single-blog-card a{
  font-size: 15px;
  color: var(--color-777777);
  margin-bottom: 20px;
}
.single-blog-card h3
{
  font-size: 24px;
  font-weight: 600;
  color: var(--color-1c1c1b);
}
.single-blog-card p{
  color: var(--color-777777);
  font-size: 14px;
}
/* blog end */
/* product card */

.product-card
{
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden; 
  width: 100%;
}
.product-card .product-image{
  height: 270px;
}
.product-card .product-image img{
  object-fit: contain;
}
.product-card .product-image >img:last-child{
  display: none;
}
.product-card:hover .product-image >img:nth-child(1) {
  display: none;
}
.product-card:hover .product-image >img:last-child {
  display: block;
}
.product-card:hover .action-bar{
  right: 15px;
}
.product-card .product-details .brand
{
  color: var(--color-bf4800);
  font-size: 13px;
}
.product-card .product-details .product-title{
  font-size: 15px;
  color: var(--color-131921);
}
.product-card .product-details .price {
  font-size: 16px;
  color: var(--color-1c1c1b);
}
.product-card p.description{
  font-size: 13px;
  color: var(--color-777777);
  margin-right: 20px;
}
.action-bar
{
  top: 10%;
  right: -23px;
  transition: .3s;
}
.wishlist-icon
{
  top: 2%;
  right: 15px;
}
/* product card end */


/* special-product-card */

.special-product-card{
  padding: 20px 10px;
  border-radius: 10px;
  background-color: white;
}

.special-product-card .badge{
  background-color: #eb353b00 !important;
}
/* special-product-card end */


/* famous card */
.famous-card{
  padding-top: 6px;
  border-radius: 10px;
  overflow: hidden;
  height: 431px;
  background-color: white;
}
.famous-card .famous-content{
  bottom: 5%;
  left: 5%;
  color: #000;
}
.famous-card .imgs{
  display: block;
  width:  208px;
  margin: 0 auto;
}
.famous-content{
  padding: 12px 12px 0;
}
.famous-content h5{
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 7px;
}
.famous-content h6{
  font-size: 28px;
  line-height: 38px;
  font-weight: 500; 
}
.famous-content p
{
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
}
/* famous card end */


/* out store */
.filter-card{
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px 25px;
}
.filter-title
{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;
}
.filter-card ul ,
.filter-card .form-check-label
{
  list-style: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}
.filter-card .form-check-input:focus{
  box-shadow: none;
  border-color: rgba(0,0,0,0.25);
}
.filter-card .form-check-input:checked{
  background-color: var(--color-febd69);
  border-color: var(--color-febd69);
}
.sub-title{
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;
  margin-top: 20px;
}
.colors
{
  list-style: none;
}
.colors li{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
.radom-products h5{
  font-size: 14px;
  margin-bottom: 8px;
}
.radom-products:first-child{
  border-bottom: 1px solid var(--color-ededed);
}
.filter-sort-grid
{
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.grid img{
  height: 35px;
  width: 35px;
  background-color:#f2f2f2;
  padding: 8px;
  border-radius:3px;
  cursor: pointer;
}
.gr-12{
  width: 100%;
}
.gr-6 {
  width: 49%;
}
.gr-4 {
  width: 32%;
}
.gr-3 {
  width: 24%;
}
.gr-12 .product-card{
  display: flex;
  gap: 10px;
}
.gr-6 .product-image{
  width: 100%;
}
.gr-6 .product-image img {
  margin: 0 auto;
  display: block;
}
.gr-12 .product-card .product-image{
  width: 270px;
}

.gr-12 .action-bar{
  top: 17%;
}
/* end out store */

/* contact  */
.contact-inner-wrapper
{
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap:15px;
}
.contact-inner-wrapper>div{
  width: 48%;
}
.contact-title
{
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}
.contact-inner-wrapper form .form-control{
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}
.list-title{
  list-style: none;
}
.list-title address,
.list-title a,
.list-title p{
  color: var(--color-777777);
}
 /* contact end */

 /* Compare Products */
.compare-product-card{
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}
.compare-product-card .cross , .wishlist-card .cross
{
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}
.compare-product-detail h5.title, .wishlist-card h5.title{
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}
.compare-product-detail h6.price, .wishlist-card h6.price{
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: var(--color-1c1c1b);
}
.compare-product-card .product-detail{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  border-top: 1px solid rgba(0,0,0,0.1);
}
/* Compare Products end */

/* auth card */
.auth-card{
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
}
.auth-card h3{
  font-size: 19px;
  font-weight: 500;
  color: var(--color-777777);
}
.auth-card p{
  font-size: 13px;
  color: var(--color-777777);
}
.auth-card .form-control{
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-777777);
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
}
.auth-card a{
  font-size: 14px;
  font-weight: 400;
  color: var(--color-1c1c1b);
}
.auth-card .signup{
  background-color: var(--color-febd69);
  color: var(--color-131921);
  border: none;
}
.auth-card .signup:hover {
  background-color: var(--color-22f3e);
  color: white;
}
/* auth card  end*/


/* policy */
.policy{
  background-color: white;
  padding: 30px;
  
}

 /* policy end */


/* main product */
.description-wrapper h4,.reviews-wrapper h4{
  font-size: 26px;
  color: var(--color-1c1c1b);
  margin-bottom: 10px;
}
.description-wrapper p,.reviews-wrapper p{
  font-size: 14px;
  color: var(--color-777777);
}
.review-inner-wrapper
{
  background-color: white;
  padding: 30px;
}
.review-head{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 20px;
}
.review-head h4{
  font-size: 18px;
  color: var(--color-1c1c1b);
}
.review-head p,
.review-head a {
  font-size: 14px;
  color: var(--color-777777);
}
.review-form h4
{
  font-size: 16px;
  color: var(--color-777777);
}
.review-form{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review:not(:last-child){
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.review p {
  font-size: 14px;
  color: var(--color-777777);
}
.main-product-image
{
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.main-product-image>div{
  border: 1px solid rgba(0,0,0,0.25);
}
.main-product-image img{
  width: 100% !important;
  height: 500px !important;
  object-fit: contain;
}
.other-product-images{
  background-color: white;
  padding: 20px;
}
.other-product-images>div
{
  width: 48%;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-image .js-image-zoom__zoomed-image{
  left: 150px !important;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
}
.main-product-details
{
  padding: 30px 20px;
  border-radius: 10px;
  background-color: white;
}
.border-bottom
{
  border-bottom: 1px solid rgba(0,0,0,0.25);
}
.main-product-details h3.title{
  font-size: 18px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 10px;
}
.main-product-details p.price{
  font-weight: 600;
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.main-product-details a.review-btn,.t-review{
  color: var(--color-777777);
}
.product-heading
{
  font-size: 14px;
  color: var(--color-1c1c1b)
}
.product-data
{
  font-size: 13px;
  color: var(--color-777777);
}
.main-product-details a{
  font-style: 14px;
  color: var(--color-777777);
}
 /* main product end */


/* cart */
.cart-header,.cart-data  {
  border-bottom: 1px solid #eaeaea;
}
.cart-header h4{
  /* text-align: center; */
  font-size: 13px;
  color: var(--color-777777);
}
.cart-col-1{
  width: 40%;
}
.cart-col-1 p{
  color:  var(--color-777777);
  font-size: 14px;
}
.cart-col-2{
  width: 10%;
}
.cart-col-3
{
  width: 15%;
}
.cart-col-4
{
  width: 15%;
}
.cart-data h5.price{
  font-size: 14px;
  color: var(--color-1c1c1b);
}
/* cart end */

/* shipping  */
.total{
  font-size: 14px;
  color: var(--color-1c1c1b);
}
.total-price{
  font-size: 16px;
  color: var(--color-777777);
}

 /* shipping end  */